[submodule "vendor/scientific-agent-skills"]
	path = vendor/scientific-agent-skills
	url = https://github.com/K-Dense-AI/scientific-agent-skills.git
[submodule "vendor/claude-scientific-writer"]
	path = vendor/claude-scientific-writer
	url = https://github.com/K-Dense-AI/claude-scientific-writer.git
[submodule "vendor/caveman"]
	path = vendor/caveman
	url = https://github.com/JuliusBrussee/caveman.git
[submodule "vendor/scientific-agents"]
	path = vendor/scientific-agents
	url = https://github.com/K-Dense-AI/scientific-agents.git
